
{%extends 'home_user.html'%} 


{% block  'title'%}{{vagas.nome}}{%endblock  %}

{%block 'body'%}
<div class="container">
<form class='control'>
     <br>
     <br><b><label >Nome da Vaga:</label><b>
      <input class="form-control" required="required" style="width:50%;"  type="text" value="{{vagas.nome}}" readonly></input><br>{% csrf_token %}
      <b> <label >Descricao da Vaga:</label><b><br>
      <textarea style="width:50%;" required="required" name="descricao" rows="4" readonly>{{vagas.descricao}}</textarea><br><br>
      <b><label >Faixa Salarial:</label><b> {{vagas.faixa_salarial}}<br>
        <b><label >Requesitos da Vaga:</label><b><br>
      <input class="form-control" required="required" style="width:50%;" value="{{vagas.requisitos}}" readonly></input><br>
      <label >Escolaridade Mínima:</label>{{vagas.escolaridade}}<br><br>
      <a href="{%url 'candidatar' vagas.id%}" class="btn btn-success" >Se candidatar</a>  
</form>
</div>
{%endblock%}