
{%extends 'home_user.html'%} 
{% block 'head' %}

{% block  'title'%} {{vaga.nome}}{%endblock  %}
{% endblock  %}
{%block 'body'%}
<div class="container">
<form class='control' action="" method="POST">{%csrf_token%}
     <br>
     <br><b><label >Nome da Vaga:</label><b>
      <input class="form-control" required="required" style="width:50%;"  type="text" value="{{vaga.nome}}" readonly></input><br>{% csrf_token %}
      <b> <label >Descricao da Vaga:</label><b><br>
      <textarea style="width:50%;" required="required" name="descricao" rows="4" readonly>{{vaga.descricao}}</textarea><br><br>
      <b><label >Faixa Salarial:</label><b> {{vaga.faixa_salarial}}<br>
        <b><label >Requesitos da Vaga:</label><b><br>
      <input class="form-control" required="required" style="width:50%;" value="{{vaga.requisitos}}" readonly></input><br>
      <label >Escolaridade Mínima:</label>{{vaga.escolaridade}}<br><br>
    
</form>
</div>
{%endblock%}