{% extends 'base.html' %}
{%block 'title'%}Listar vagas{%endblock%}
{% block  'body'%}
<div class='container'>
   
    {%if not vagas%}

    <div class="card text-center">
        <div class="card-header">
          VAGAS
        </div>
        <div class="card-body">
          <h5 class="card-title">Listagem de vagas</h5>
          <p class="card-text">Nao conseguimos encontrar vagas cadastradas redirecione para pagina de gerenciamento de vagas e crie uma nova vaga </p>
          <a href="#" class="btn btn-primary">Gerenciamento de vaga</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      {% endif %}
    <div class='row'>
    {% for vaga in vagas  %}
        <div class='col-md'>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{vaga.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{vaga.requisitos}}</h6>
                    <p class="card-text">{{vaga.requisitos}}</p>
                <a href="{% url 'i_vagas' vaga.id %}" class="card-link">Ver +</a>
            </div>
        </div>
    </div>
{% endfor %}

</div>

{%endblock  %}